#sim-content {
    min-height: calc(100vh - 130px);
}

#sim-content .sim-panel {
    padding: 4rem;
    /* background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 50rem; */
}

.digital {
    font-family: digital;
    font-size: 1.5rem;
}